* {
  box-sizing: border-box;
}

input:focus {
 background: orange;
 border: none;
}

body {
  background: linear-gradient(45deg, gold, orangered);
  /* using flexbox to center the searchbar */
  display: flex;
  justify-content: center;
  align-items: center;
  /* ensures body takes up entire viewheight */
  height: 100vh;
}

input {
 background: orange;
 outline:none;
}

.search-container {
  position: absolute;


}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {
   /* TODO */
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  /* TODO */
}
ul li:hover {
  /* TODO */
}

input {
   /* TODO */
}